@font-face {
    font-family: One Piece;
    src: url(/references/one\ piece\ font.ttf);
}

/* html */
/* html::-webkit-scrollbar {
    display: none;
} */

html li {
    list-style: none;
}

html a {
    text-decoration: none;
}

html a:hover {
    text-decoration: underline;
}
/* html */

/* Body Overlay */
.bodyOverlay {
    background-color: #334155e0;
}
/* Body Overlay */

/* Body */
body {
    background-image: url(./refReference/Body\ Background.jpg);
    background-size: cover;
    font-size: 1rem;
    font-family: "Righteous", sans-serif;
    margin: -1px;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
}
/* Body */

/* Header */
header {
    background-image: url(/references/Grand\ Line.jpg);
    background-position: center;
    font-size: 6rem;
    height: auto;
    color: #fff;
    text-shadow: #000 2px 0 8px;
    border-bottom: 1px solid #fff;
    border-radius: 0 0 10px 10px;
}

header h1 {
    margin: 0;
    text-decoration: underline;
    text-decoration-thickness: 0.5rem;
    text-underline-offset: 1rem;
}

header p {
    font-size: 3rem;
    margin: 0;
    background-color: #0000009e;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    border-radius: 10px 10px 0 0;
}

header ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    letter-spacing: 0.1rem;
    background-color: #0000009e;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}

header li {
    margin: 0;
    padding: 0;
}

header a {
    font-size: 2rem;
    color: #fff;
}

header a:hover {
    color: #fff200;
}
/* Header */

/* Main Navbar */
.NAV {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 100%;
    height: 30px;
    margin: 0;
    background-color: #fff;
    border: 1px solid #334155;
}

.NAV a {
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    color: #334155;
}

.NAV img {
    width: 40px;
  }

#submenu {
    padding: 0;
    width: 100%;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}

li:hover ul#submenu {
    opacity: 1;
    visibility: visible;
}

.storyNav a:hover {
    color: #fff200;
    text-shadow: #000 1px 0 2px;
}

.luffyNAV a:hover {
    color: #d00;
    text-shadow: #000 1px 0 2px;
}

.zoroNAV a:hover {
    color: #00de7a;
    text-shadow: #000 1px 0 2px;
}

.namiNAV a:hover {
    color: #ff7000;
    text-shadow: #000 1px 0 2px;
}

.usoppNAV a:hover {
    color: #fff200;
    text-shadow: #000 1px 0 2px;
}

.sanjiNAV a:hover {
    color: #0059ff;
    text-shadow: #000 1px 0 2px;
}

.chopperNAV a:hover {
    color: #ff70d9;
    text-shadow: #000 1px 0 2px;
}

.robinNAV a:hover {
    color: #6700b6;
    text-shadow: #000 1px 0 2px;
}

.frankyNAV a:hover {
    color: #0091ff;
    text-shadow: #000 1px 0 2px;
}

.brookNAV a:hover {
    color: #000;
    text-shadow: #000 1px 0 2px;
}

.jinbeNAV a:hover {
    color: #0d60cd;
    text-shadow: #000 1px 0 2px;
}
/* Main Navbar */

/* Content Container */
#contentCont {
    background-image: url(/references/Content\ Container.jpg);
    background-size: cover;
    margin-top: 4%;
    letter-spacing: 0.2rem;
    border-top: 1px solid #fff;
    border-radius: 10px 10px 0 0;
}

/* Text References */
.textRefsHeader {
    background-image: url(/references/Grand\ Line.jpg);
    font-size: 3.5rem;
    margin-top: 2%;
    border: 1px solid #fff;
    border-radius: 10px 10px 0 0;
}

.textRefsHeader h2 {
    color: #fff;
    margin: 0;
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 8px;
    text-shadow: #000 1px 0 5px;
}

.textRefsCont {
    background-color: #0f305dec;
    color: #fff;
    height: 600px;
    margin-top: 0;
    text-shadow: #000 1px 0 2px;
    border: 1px solid #fff;
    border-radius: 0 0 10px 10px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.textRefsCont::-webkit-scrollbar {
    display: none;
}

.textRefsCont h3 {
    font-size: 3rem;
    margin: 2% 0 0 0;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

.textRefsCont h4 {
    font-size: 2rem;
}

.textRefsCont a {
    font-size: 1.1rem;
    color: #fff;
}

.textRefsCont a:hover {
    color: #fff200;
}

.textRefsLuffy a:hover {
    color: #d00;
    text-shadow: #000 2px 0 8px;
}

.textRefsZoro a:hover {
    color: #00de7a;
    text-shadow: #000 2px 0 8px;
}

.textRefsNami a:hover {
    color: #ff7000;
    text-shadow: #000 2px 0 8px;
}

.textRefsUsopp a:hover {
    color: #fff200;
    text-shadow: #000 2px 0 8px;
}

.textRefsSanji a:hover {
    color: #0059ff;
    text-shadow: #000 2px 0 8px;
}

.textRefsChopper a:hover {
    color: #ff70d9;
    text-shadow: #000 2px 0 8px;
}

.textRefsRobin a:hover {
    color: #6700b6;
    text-shadow: #000 2px 0 8px;
}

.textRefsFranky a:hover {
    color: #0091ff;
    text-shadow: #000 2px 0 8px;
}

.textRefsBrook a:hover {
    color: #000;
    text-shadow: #fff 2px 0 8px;
}

.textRefsJinbe a:hover {
    color: #0d60cd;
    text-shadow: #000 2px 0 8px;
}

.textRefsCont div {
    height: 200px;
}

.backgroundLayer {
    background-color: #0000009e;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.textRefsLuffy {
    background-image: url(/references/Luffy\,\ Amanomoon\,Deviant\ Art.png);
    background-position: center;
    background-size: cover;
    margin: 2% 0;
    text-shadow: #d00 2px 0 8px;
}

.textRefsZoro {
    background-image: url(/references/Zoro\,\ Amanomoon\,\ Deviant\ Art.jpg);
    background-position: center;
    background-size: cover;
    margin: 4% 0 2%;
    text-shadow: #00de7a 2px 0 8px;
}

.textRefsNami {
    background-image: url(/references/Nami\,\ Amanomoon\,\ Deviant\ Art.png);
    background-position: center;
    background-size: cover;
    margin: 4% 0 2% 0;
    text-shadow: #ff7000 2px 0 8px;
}

.textRefsUsopp {
    background-image: url(/references/Usopp\,\ Amanomoon\,\ Deviant\ Art.png);
    background-position: center;
    background-size: cover;
    margin: 4% 0 2% 0;
    text-shadow: #fff200 2px 0 8px;
}

.textRefsSanji {
    background-image: url(/references/Sanji\,\ Amanomoon\,\ Deviant\ Art.png);
    background-position: center;
    background-size: cover;
    margin: 4% 0 2% 0;
    text-shadow: #0059ff 2px 0 8px;
}

.textRefsChopper {
    background-image: url(/references/Chopper\,\ Amanomoon\,\ Deviant\ Art.png);
    background-position: center;
    background-size: cover;
    margin: 4% 0 2% 0;
    text-shadow: #ff70d9 2px 0 8px;
}

.textRefsRobin {
    background-image: url(/references/Robin\,\ Amanomoon\,\ Deviant\ Art.png);
    background-position: center;
    background-size: cover;
    margin: 4% 0 2% 0;
    text-shadow: #6700b6 2px 0 8px;
}

.textRefsFranky {
    background-image: url(/references/Franky\,\ Amanomoon\,\ Deviant\ Art.png);
    background-position: center;
    background-size: cover;
    margin: 4% 0 2% 0;
    text-shadow: #0091ff 2px 0 8px;
}

.textRefsBrook {
    background-image: url(/references/Brook\,\ Amanomoon\,\ Deviant\ Art.jpg);
    background-position: center;
    background-size: cover;
    margin: 4% 0 2% 0;
    text-shadow: #000 2px 0 8px;
}

.textRefsJinbe {
    background-image: url(/references/Jinbe\,\ Amanomoon\,\ Deviant\ Art.png);
    background-position: center;
    background-size: cover;
    margin-top: 4%;
    text-shadow: #0d60cd 2px 0 8px;
}
/* Text References */

/* Image References */
.imgRefs {
    background-image: url(/references/Grand\ Line.jpg);
    margin-top: 2%;
    border: 2px solid red;
    border-radius: 10px 10px 0 0;
}
/* Image References */
/* Content Container */

/* Footer */
footer {
    background-image: url(/references/World\ Map.png);
    background-size: cover;
}

footer img {
    margin: 2% 0;
    width: 600px;
}
/* Footer */

/* Media */
/* Container Utility */
.container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #0f2f5d9b;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
/* Container Utility */
  
/* 2XL */
@media (max-width: 1536px) {
    .container {
        max-width: 1280px;
    }

    .NAV {
        gap: 75px;
    }

    .NAV a {
        font-size: 1.2rem;
    }
}
/* 2XL */

/* XL */
@media (max-width: 1280px) {
    .container {
        max-width: 1024px;
    }

    header {
        font-size: 5rem;
    }

    .NAV {
        gap: 40px;
    }

    .NAV a {
        font-size: 1rem;
    }
}
/* XL */
  
/* L */
@media (max-width: 1024px) {
    .container {
        max-width: 768px;
    }

    header {
        font-size: 4rem;
        text-decoration-thickness: 0.4rem;
    }

    .NAV {
        gap: 0;
        height: 25px;
        padding: 0;
    }

    .NAV a {
        font-size: 0.9rem;
    }

    .NAV img {
        width: 30px;
    }
}
/* L */
  
/* M */
@media (max-width: 768px) {
    .container {
        max-width: 640px;
    }

    header {
        font-size: 3rem;
        padding: 10px 0;
        text-decoration-thickness: 0.3rem;
        text-underline-offset: 0.7rem;
    }

    .NAV a {
        font-size: 0.7rem;
    }
}  
/* M */
  
/* S */
@media (max-width: 640px) {
    .container {
        max-width: 475px;
    }

    header {
        font-size: 2.6rem;
        text-decoration-thickness: 0.3rem;
        text-underline-offset: 0.7rem;
    }

    .NAV a {
        font-size: 0.55rem;
    }

    .NAV img {
        width: 25px;
    }
}
/* S */
  
/* XS */
@media (max-width: 475px) {
    .container {
        width: 100%;
    }
}
/* XS */
/* Media */