@font-face {
    font-family: One Piece;
    src: url(/references/one\ piece\ font.ttf);
}

/* html */
/* html::-webkit-scrollbar {
    display: none;
} */

html li {
    list-style: none;
}

html a {
    text-decoration: none;
}

html a:hover {
    text-decoration: underline;
}
/* html */

/* Body Overlay */
.bodyOverlay {
    background-color: #334155e0;
}
/* Body Overlay */

/* Body */
body {
    font-size: 1rem;
    font-family: "Righteous", sans-serif;
    margin: -1px;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    /* background-image: url(./refHome/QuentinGod93\,\ bodyBackground\,\ reddit.com.png); */
    background-image: url(./refHome/Going\ Merry\ &\ Thousand\ Sunny\,\ bodyBackground\,\ Deviant\ Art.png);
    background-position: center;
    background-size: cover;
}
/* Body */

/* Header */
header {
    font-size: 6rem;
    width: 100%;
    height: auto;
    color: #fff;
    text-shadow: #000 2px 0 8px;
    border-bottom: 1px solid #fff;
}

header h1 {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    text-decoration: underline;
    text-decoration-thickness: 0.5rem;
    text-underline-offset: 1rem;
}

header p {
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    margin: 10px;
}

header span {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}
/* Header */

/* Main Navbar */
.NAV {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 100%;
    height: 30px;
    margin: 0;
    background-color: #fff;
    border: 1px solid #334155;
}

.NAV a {
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    color: #334155;
}

.NAV img {
    width: 40px;
  }

#submenu {
    padding: 0;
    width: 100%;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}

li:hover ul#submenu {
    opacity: 1;
    visibility: visible;
}

.storyNav a:hover {
    color: #fff200;
    text-shadow: #000 1px 0 2px;
}

.luffyNAV a:hover {
    color: #d00;
    text-shadow: #000 1px 0 2px;
}

.zoroNAV a:hover {
    color: #00de7a;
    text-shadow: #000 1px 0 2px;
}

.namiNAV a:hover {
    color: #ff7000;
    text-shadow: #000 1px 0 2px;
}

.usoppNAV a:hover {
    color: #fff200;
    text-shadow: #000 1px 0 2px;
}

.sanjiNAV a:hover {
    color: #0059ff;
    text-shadow: #000 1px 0 2px;
}

.chopperNAV a:hover {
    color: #ff70d9;
    text-shadow: #000 1px 0 2px;
}

.robinNAV a:hover {
    color: #6700b6;
    text-shadow: #000 1px 0 2px;
}

.frankyNAV a:hover {
    color: #0091ff;
    text-shadow: #000 1px 0 2px;
}

.brookNAV a:hover {
    color: #000;
    text-shadow: #000 1px 0 2px;
}

.jinbeNAV a:hover {
    color: #0d60cd;
    text-shadow: #000 1px 0 2px;
}
/* Main Navbar */

/* Content Container */
#contentCont {
    background-image: url(./refHome/Content\ Container.jpg);
    background-position-x: center;
    background-position-y: top;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 600px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-radius: 0 0 10px 10px;
}
/* Navbar */

#contentCont nav li {
    margin-right: 2%;
    text-align: left;
}

#contentCont nav img {
    width: 200px;
}

#contentCont nav a {
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
    line-height: 40px;
    color: #fff;
    text-shadow: #000 1px 0 3px;
}

#contentCont nav a:hover {
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

/* Straw Hats Main Navbar Link */
.luffyNav {
    scroll-margin-top: 48px;
}
/* Straw Hats Main Navbar Link */

#contentCont .luffyNav a:hover {
    color: #d00;
    text-shadow: #000 1px 0 2px;
}

#contentCont .zoroNav a:hover {
    color: #00de7a;
    text-shadow: #000 1px 0 2px;
}

#contentCont .namiNav a:hover {
    color: #ff7000;
    text-shadow: #000 1px 0 2px;
}

#contentCont .usoppNav a:hover {
    color: #fff200;
    text-shadow: #000 1px 0 2px;
}

#contentCont .sanjiNav a:hover {
    color: #0059ff;
    text-shadow: #000 1px 0 2px;
}

#contentCont .chopperNav a:hover {
    color: #ff70d9;
    text-shadow: #000 1px 0 2px;
}

#contentCont .robinNav a:hover {
    color: #6700b6;
    text-shadow: #000 1px 0 2px;
}

#contentCont .frankyNav a:hover {
    color: #0091ff;
    text-shadow: #000 1px 0 2px;
}

#contentCont .brookNav a:hover {
    color: #000;
    text-shadow: #000 1px 0 2px;
}

#contentCont .jinbeNav a:hover {
    color: #0d60cd;
    text-shadow: #000 1px 0 2px;
}
/* Navbar */

/* Character Container */
.characterCont {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-image: url(./refHome/World\ Map.png);
    background-position: center;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.characterCont::-webkit-scrollbar {
    display: none;
}

.characterCont span {
    background-image: url(/references/Grand\ Line.jpg);
    background-position: center;
    font-size: 4rem;
    font-weight: lighter;
    width: 100%;
    color: #fff;
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
    text-shadow: #000 1px 0 5px;
}

.characterCont h2 {
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    letter-spacing: 0.4rem;
    margin-top: 0%;
}

.characterCont h3 {
    font-size: 1.6rem;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.2rem;
}

.characterCont h3, strong {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

.characterCont p {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    width: 94%;
    margin: 0% 3%;
}

.characterCont a {
    color: #fff;
    font-style: italic;
    letter-spacing: 0.2rem;
}

.characterCont a:hover {
    text-underline-offset: 4px;
    text-shadow: #000 2px 0 8px;
}

.characterCont div {
    font-weight: bold;
    color: #fff;
    width: 100%;
    height: 350px;
    margin-bottom: 4%;
    background-position-x: center;
}

.backgroundLayer {
    background-color: #0000009e;
}

/* Luffy */
#luffy {
    background-image: url(/references/Luffy\,\ Amanomoon\,Deviant\ Art.png);
    background-position-y: 65%;
    text-shadow: #d00 2px 0 8px;
    border-top: 1px solid #d00;
    border-bottom: 1px solid #d00;
    box-shadow: 0 0 20px 10px #d00;
    scroll-margin-top: 30px;
}

#luffy a:hover {
    color: #d00;
}
/* Luffy */

/* Zoro */
#zoro {
    background-image: url(/references/Zoro\,\ Amanomoon\,\ Deviant\ Art.jpg);
    background-position-y: 60%;
    text-shadow: #00de7a 2px 0 8px;
    border-top: 1px solid #00de7a;
    border-bottom: 1px solid #00de7a;
    box-shadow: 0 0 20px 10px #00de7a;
    scroll-margin-top: 30px;
}

#zoro a:hover {
    color: #00de7a;
}
/* Zoro */

/* Nami */
#nami {
    background-image: url(/references/Nami\,\ Amanomoon\,\ Deviant\ Art.png);
    background-position-y: 30%;
    text-shadow: #ff7000 2px 0 8px;
    border-top: 1px solid #ff7000;
    border-bottom: 1px solid #ff7000;
    box-shadow: 0 0 20px 10px #ff7000;
    scroll-margin-top: 30px;
}

#nami a:hover {
    color: #ff7000;
}
/* Nami */

/* Usopp */
#usopp {
    background-image: url(/references/Usopp\,\ Amanomoon\,\ Deviant\ Art.png);
    background-position-y: 55%;
    text-shadow: #fff200 2px 0 8px;
    border-top: 1px solid #fff200;
    border-bottom: 1px solid #fff200;
    box-shadow: 0 0 20px 10px #fff200;
    scroll-margin-top: 30px;
}

#usopp a:hover {
    color: #fff200;
}
/* Usopp */

/* Sanji */
#sanji {
    background-image: url(/references/Sanji\,\ Amanomoon\,\ Deviant\ Art.png);
    background-position-y: 65%;
    text-shadow: #0059ff 2px 0 8px;
    border-top: 1px solid #0059ff;
    border-bottom: 1px solid #0059ff;
    box-shadow: 0 0 20px 10px #0059ff;
    scroll-margin-top: 30px;
}

#sanji a:hover {
    color: #0059ff;
}
/* Sanji */

/* Chopper */
#chopper {
    background-image: url(/references/Chopper\,\ Amanomoon\,\ Deviant\ Art.png);
    background-position-y: 40%;
    text-shadow: #ff70d9 2px 0 8px;
    border-top: 1px solid #ff70d9;
    border-bottom: 1px solid #ff70d9;
    box-shadow: 0 0 20px 10px #ff70d9;
    scroll-margin-top: 30px;
}

#chopper a:hover {
    color: #ff70d9;
}
/* Chopper */

/* Robin */
#robin {
    background-image: url(/references/Robin\,\ Amanomoon\,\ Deviant\ Art.png);
    background-position-y: 40%;
    text-shadow: #6700b6 2px 0 8px;
    border-top: 1px solid #6700b6;
    border-bottom: 1px solid #6700b6;
    box-shadow: 0 0 20px 10px #6700b6;
    scroll-margin-top: 30px;
}

#robin a:hover {
    color: #6700b6;
}
/* Robin */

/* Franky */
#franky {
    background-image: url(/references/Franky\,\ Amanomoon\,\ Deviant\ Art.png);
    background-position-y: 65%;
    text-shadow: #0091ff 2px 0 8px;
    border-top: 1px solid #0091ff;
    border-bottom: 1px solid #0091ff;
    box-shadow: 0 0 20px 10px #0091ff;
    scroll-margin-top: 30px;
}

#franky a:hover {
    color: #0091ff;
}
/* Franky */

/* Brook */
#brook {
    background-image: url(/references/Brook\,\ Amanomoon\,\ Deviant\ Art.jpg);
    background-position-y: 40%;
    text-shadow: #fff 2px 0 8px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-shadow: 0 0 20px 10px #fff;
    scroll-margin-top: 30px;
}

#brook a:hover {
    color: #000;
    text-shadow: #fff 2px 0 8px;
}
/* Brook */

/* Jinbe */
#jinbe {
    background-image: url(/references/Jinbe\,\ Amanomoon\,\ Deviant\ Art.png);
    background-position-y: 45%;
    background-position-x: 60%;
    text-shadow: #0d60cd 2px 0 8px;
    border-top: 1px solid #0d60cd;
    border-bottom: 1px solid #0d60cd;
    box-shadow: 0 0 20px 10px #0d60cd;
    margin-bottom: 0%;
    scroll-margin-top: 30px;
}

#jinbe a:hover {
    color: #0d60cd;
}
/* Jinbe */
/* Character Container */

/* Sagas & Arcs */
#sagasArcCont {
    background-image: url(./refHome/Content\ Container.jpg);
    background-position-x: center;
    background-position-y: bottom;
    width: 100%;
    height: 650px;
    margin-top: 2%;
    color: #fff;
    letter-spacing: 0.2rem;
    line-height: 30px;
    text-shadow: #000 1px 0 2px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-radius: 10px 10px 0 0;
}

#sagasArcCont::-webkit-scrollbar {
    display: none;
}

.sagasArcContHeader {
    margin: 0 2% 2% 2%;
}

.sagasArcContHeaderContent {
    background-color: #0f305dec;
    font-size: 1.4rem;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 0 0 10px 10px;
}

.sagasArcContHeaderContent span {
    text-decoration: underline;
    text-underline-offset: 4px;
}

#sagasArcCont h3, h4 {
    font-family: 'Times New Roman', Times, serif;
}

.sagasArcContHeader h1 {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

#sagasArcCont h1 {
    background-image: url(/references/Grand\ Line.jpg);
    background-position: center;
    height: 75px;
    margin-bottom: 0;
    padding-top: 40px;
    font-size: 6rem;
    font-weight: lighter;
    color: #fff;
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 1rem;
    text-shadow: #000 1px 0 5px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-radius: 10px 10px 0 0;
}

#sagasArcCont h3 {
    font-style: italic;
}

#sagasArcCont h4 {
    text-decoration-thickness: 1px;
}

#sagasArcCont ol {
    padding: 0;
    border-bottom: 1px solid #fff;
}

#sagasArcCont .bottomArc {
    border-bottom: none;
}

#sagasArcCont .watchAfter {
    font-style: italic;
    color: #fff200;
    text-shadow: #000 1px 0 2px;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.seaOfSurvival {
    margin: 0 2% 2% 2%;
}

.seaOfSurvival h2 {
    background-image: url(/references/Grand\ Line.jpg);
    background-position: center;
    height: 50px;
    margin-bottom: 0;
    padding-top: 15px;
    font-size: 4rem;
    font-weight: lighter;
    color: #fff;
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 8px;
    text-shadow: #000 1px 0 5px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-radius: 10px 10px 0 0;
}

.seaOfSurvivalContentCont {
    display: flex;
    width: 100%;
}

.seaOfSurvivalContentCont div {
    background-color: #0f305dec;
    width: 250px;
    height: 500px;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #fff;
}

.seaOfSurvivalContentCont div::-webkit-scrollbar {
    display: none;
}

.eastBlue {
    border-radius: 0 0 0 10px;
}

.summitWar {
    border-radius: 0 0px 10px 0;
}

.finalSea {
    margin: 2% 2% 3% 2%;
}

.finalSea h2 {
    background-image: url(/references/Grand\ Line.jpg);
    background-position: center;
    height: 50px;
    margin-bottom: 0;
    padding-top: 15px;
    font-size: 4rem;
    font-weight: lighter;
    color: #fff;
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 8px;
    text-shadow: #000 1px 0 5px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-radius: 10px 10px 0 0;
}

.finalSeaContentCont {
    display: flex;
}

.finalSeaContentCont div {
    background-color: #0f305dec;
    width: 300px;
    height: 650px;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #fff;
}

.finalSeaContentCont div::-webkit-scrollbar {
    display: none;
}

.fish-manIsland {
    border-radius: 0 0 0 10px;
}

.finalSaga {
    border-radius: 0 0px 10px 0;
}
/* Sagas & Arcs */
/* Content Container */

/* Footer */
footer {
    display: flex;
    justify-content: space-evenly;
    letter-spacing: 0.2rem;
    border-bottom: 1px solid #fff;
}

footer li {
    line-height: 2rem;
}

footer h3 {
    font-size: 1rem;
    letter-spacing: 0.3rem;
    color: #fff;
    text-shadow: #000 2px 0 8px;
}

footer a {
    font-size: 1.1rem;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    text-shadow: #000 1px 0 2px;
}

footer a:hover {
    color: #fff200;
    text-underline-offset: 4px;
}

.footerContLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
}
/* Footer */

/* Media */
/* Container Utility */
.container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #0f2f5d9b;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
/* Container Utility */

/* 2XL */
@media (max-width: 1536px) {
    .container {
        max-width: 1280px;
    }

    .NAV {
        gap: 75px;
    }

    .NAV a {
        font-size: 1.2rem;
    }

    #contentCont nav img {
        width: 175px;
    }

    #contentCont nav a {
        font-size: 1.1rem;
        line-height: 38px;
    }

    .characterCont span {
        font-size: 3.5rem;
    }

    .characterCont h2 {
        font-size: 2.3rem;
    }

    .characterCont h3 {
        font-size: 1.4rem;
    }

    .characterCont p {
        font-size: 1rem;
    }

    .characterCont div {
        height: 330px;
    }

    #chopper {
        background-position-x: 40%;
    }

    #robin {
        background-position-x: 60%;
    }

    #jinbe {
        background-position-x: 65%;
    }

    .sagasArcContHeaderContent {
        font-size: 1.2rem;
    }

    .seaOfSurvival h2 {
        font-size: 3.2rem;
    }

    .finalSea h2 {
        font-size: 3.2rem;
    }
}
/* 2XL */

/* XL */
@media (max-width: 1280px) {
    .container {
        max-width: 1024px;
    }

    header {
        font-size: 5rem;
    }

    header p {
        font-size: 1.2rem;
    }

    .NAV {
        gap: 40px;
    }

    .NAV a {
        font-size: 1rem;
    }

    #contentCont {
        height: 625px;
    }

    #contentCont nav a {
        line-height: 40px;
    }

    .characterCont span {
        font-size: 3.2rem;
    }

    .characterCont h2 {
        font-size: 2.2rem;
    }

    .characterCont h3 {
        font-size: 1.2rem;
    }

    .characterCont p {
        font-size: 0.9rem;
    }

    .characterCont div {
        height: 320px;
    }

    #chopper {
        background-position-x: 35%;
    }

    #robin {
        background-position-x: 65%;
    }

    #jinbe {
        background-position-x: 70%;
    }

    #sagasArcCont h1 {
        font-size: 5rem;
    }

    .seaOfSurvival h2 {
        font-size: 2.5rem;
    }

    .finalSea h2 {
        font-size: 2.5rem;
    }

    #sagasArcCont h4 {
        font-size: 0.9rem;
    }
}
/* XL */

/* L */
@media (max-width: 1024px) {
    .container {
        max-width: 768px;
    }

    header {
        font-size: 4rem;
        text-decoration-thickness: 0.4rem;
    }

    header p {
        font-size: 1rem;
    }

    .NAV {
        gap: 0;
        height: 25px;
        padding: 0;
    }

    .NAV a {
        font-size: 0.9rem;
    }

    .NAV img {
        width: 30px;
    }

    #contentCont {
        height: 660px;
    }

    #contentCont nav img {
        width: 150px;
    }

    .characterCont span {
        font-size: 2.8rem;
    }

    .characterCont h2 {
        font-size: 1.6rem;
    }

    .characterCont h3 {
        font-size: 0.9rem;
    }

    .characterCont p {
        font-size: 0.85rem;
    }

    .characterCont strong {
        text-underline-offset: 3px;
    }

    #luffy {
        background-position-x: 40%;
    }

    #chopper {
        background-position-x: 35%;
    }

    #robin {
        background-position-x: 70%;
    }

    #jinbe {
        background-position-x: 70%;
    }

    #sagasArcCont {
        letter-spacing: 0.1rem;
    }

    #sagasArcCont h1 {
        font-size: 3.5rem;
    }

    .seaOfSurvival h2 {
        font-size: 1.7rem;
    }

    .finalSea h2 {
        font-size: 1.7rem;
    }

    .sagasArcContHeaderContent {
        font-size: 1rem;
    }

    #sagasArcCont h3 {
        font-size: 0.9rem;
    }

    #sagasArcCont h4 {
        font-size: 0.7rem;
    }

    #sagasArcCont ol {
        font-size: 0.8rem;
    }
}
/* L */

/* M */
@media (max-width: 768px) {
    .container {
        max-width: 640px;
    }

    header {
        font-size: 3rem;
        text-decoration-thickness: 0.3rem;
        text-underline-offset: 0.7rem;
    }

    header p {
        font-size: 0.9rem;
        letter-spacing: 0.1rem;
    }

    .NAV a {
        font-size: 0.7rem;
    }

    #contentCont {
        height: 710px;
    }

    #contentCont nav img {
        width: 150px;
    }

    #contentCont nav a {
        font-size: 1rem;
        line-height: 44px;
    }

    .characterCont span {
        font-size: 2.8rem;
    }

    .characterCont h2 {
        font-size: 1.6rem;
    }

    .characterCont h3 {
        font-size: 0.9rem;
    }

    .characterCont p {
        font-size: 0.7rem;
    }

    .characterCont strong {
        text-underline-offset: 2px;
    }

    .characterCont div {
        height: 310px;
    }

    .sagasArcContHeaderContent {
        font-size: 0.9rem;
    }

    #sagasArcCont h1 {
        font-size: 3rem;
        height: 65px;
        padding-top: 25px;
    }

    .seaOfSurvival h2 {
        font-size: 1.4rem;
    }

    .finalSea h2 {
        font-size: 1.4rem;
    }

    #sagasArcCont h3 {
        font-size: 0.9rem;
    }

    #sagasArcCont h4 {
        font-size: 0.65rem;
    }

    #sagasArcCont ol {
        font-size: 0.6rem;
    }

    .seaOfSurvivalContentCont div {
        padding: 10px 0;
    }

    .finalSeaContentCont div {
        padding: 10px 0;
    }

    footer h3 {
        font-size: 0.9rem;
        letter-spacing: 0.2rem;
    }

    footer a {
        font-size: 0.9rem;
    }
}  
/* M */

/* S */
@media (max-width: 640px) {
    .container {
        max-width: 475px;
    }

    header {
        font-size: 2.6rem;
        text-decoration-thickness: 0.3rem;
        text-underline-offset: 0.7rem;
    }

    header p {
        font-size: 0.8rem;
    }

    .NAV a {
        font-size: 0.55rem;
    }

    .NAV img {
        width: 25px;
    }

    #contentCont {
        height: 715px;
    }

    #contentCont nav img {
        width: 125px;
    }

    #contentCont nav a {
        font-size: 0.9rem;
        line-height: 45px;
    }

    .characterCont span {
        font-size: 2.2rem;
    }

    .characterCont h2 {
        font-size: 1rem;
    }

    .characterCont h3 {
        font-size: 0.8rem;
    }

    .characterCont p {
        font-size: 0.6rem;
    }

    .characterCont div {
        height: 295px;
    }

    #zoro {
        background-position-x: 45%;
    }

    #nami {
        background-position-x: 55%;
    }

    #sanji {
        background-position-x: 45%;
    }

    #robin {
        background-position-x: 75%;
    }

    #franky {
        background-position-x: 40%;
    }

    #sagasArcCont {
        letter-spacing: 0rem;
        line-height: 25px;
    }

    .sagasArcContHeaderContent {
        font-size: 0.8rem;
    }

    #sagasArcCont h1 {
        font-size: 2rem;
        height: 55px;
        padding-top: 20px;
    }

    .seaOfSurvival h2 {
        font-size: 1.1rem;
        height: 40px;
    }

    .finalSea {
        font-size: 1.1rem;
        height: 40px;
    }

    #sagasArcCont h3 {
        font-size: 0.75rem;
    }

    #sagasArcCont h4 {
        font-size: 0.55rem;
    }

    #sagasArcCont ol {
        font-size: 0.6rem;
    }

    .seaOfSurvivalContentCont div {
        padding: 5px 0;
    }

    .finalSeaContentCont div {
        padding: 5px 0;
    }

    footer h3 {
        font-size: 0.7rem;
        letter-spacing: 0.1rem;
    }

    footer a {
        font-size: 0.8rem;
    }
}
/* S */

/* XS */
@media (max-width: 475px) {
    .container {
        width: 100%;
    }
}
/* XS */
/* Media */