@font-face {
    font-family: One Piece;
    src: url(/references/one\ piece\ font.ttf);
}

/* Body */
body {
    font-size: 1rem;
    margin: -1px;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
}
/* Body */

/* Header */
header {
    font-size: 5rem;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    height: auto;
    margin-bottom: 2%;
    color: #d00;
    text-decoration: underline;
    text-decoration-thickness: 0.5rem;
    text-underline-offset: 1rem;
    text-shadow: #000 1px 0 10px;
    background-image: url(./refHome/QuentinGod93\,\ header\,\ reddit.com.png);
    background-position: center;
    border-bottom: 5px solid #d00;
}

header h1 {
    margin: 0;
}
/* Header */

/* Content Container */
#contentCont {
    display: flex;
}

nav {
    border: 2px solid blue;
}

.characterCont {
    border: 2px solid blue;
}
/* Content Container */

/* Media */
/* Container Utility */
.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 2px solid red;
}
/* Container Utility */

/* XS */
@media(min-width: 475px) {
    .container{
        max-width: 475px;
    } 
}
/* XS */

/* S */
@media(min-width: 640px) {
    .container{
        max-width: 640px;
    }
}
/* S */

/* M */
@media(min-width:768px) {
    .container{
        max-width: 768px;
    }
}
/* M */

/* L */
@media(min-width: 1024px) {
    .container{
        max-width: 1024px;
    }
}
/* L */

/* XL */
@media(min-width: 1280px) {
    .container{
        max-width: 1280px;
    }
}
/* XL */

/* 2XL */
@media(min-width: 1536px) {
    .container{
        max-width: 1536px;
    }
}
/* 2XL */
/* Media */