@font-face {
    font-family: One Piece;
    src: url(/references/one\ piece\ font.ttf);
}

/* Body */
body {
    font-size: 1rem;
    margin: -1px;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    background-image: url(./refHome/QuentinGod93\,\ bodyBackground\,\ reddit.com.png);
    background-position: top;
}
/* Body */

/* Header */
header {
    font-size: 6rem;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    height: auto;
    color: #d00;
    text-decoration: underline;
    text-decoration-thickness: 0.5rem;
    text-underline-offset: 1rem;
    text-shadow: #fff 3px 0 1px;
}

header h1 {
    margin: 0;
}
/* Header */

/* Content Container */
#contentCont {
    background-image: url(./refHome/stretched-1920-1080-755280.jpg);
    background-position: center;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 600px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
/* Navbar */
nav li {
    margin-right: 2%;
    text-align: left;
    list-style: none;
}

nav a {
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
    line-height: 48px;
    color: #fff;
    text-decoration: none;
    text-shadow: #000 1px 0 3px;
}

.luffyNav a:hover {
    color: #d00;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-shadow: #000 2px 0 1px;
}

.zoroNav a:hover {
    color: #00de7a;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-shadow: #000 2px 0 1px;
}

.namiNav a:hover {
    color: #ff7000;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-shadow: #000 2px 0 1px;
}

.usoppNav a:hover {
    color: #fff200;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-shadow: #000 2px 0 1px;
}

.sanjiNav a:hover {
    color: #0059ff;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-shadow: #000 2px 0 1px;
}

.chopperNav a:hover {
    color: #ff70d9;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-shadow: #000 2px 0 1px;
}

.robinNav a:hover {
    color: #6700b6;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-shadow: #000 2px 0 1px;
}

.frankyNav a:hover {
    color: #0091ff;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-shadow: #000 2px 0 1px;
}

.brookNav a:hover {
    color: #000;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-shadow: #fff 2px 0 1px;
}

.jinbeNav a:hover {
    color: #0d60cd;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-shadow: #000 2px 0 1px;
}
/* Navbar */

/* Character Container */
.characterCont {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-image: url(./refHome/World\ Map.png);
    background-position: center;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.characterCont span {
    background-image: url(./refHome/Grand\ Line.jpg);
    background-position: center;
    font-size: 4rem;
    width: 100%;
    color: #000;
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
    text-shadow: #fff 3px 0 1px;
}
.characterCont h2 {
    font-size: 2.5rem;
    letter-spacing: 0.4rem;
    margin-top: 0%;
}

.characterCont h3 {
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

.characterCont strong {
    text-decoration: underline;
}

.characterCont p {
    font-size: 1.4rem;
    font-family: sans-serif;
    letter-spacing: 0.2rem;
    width: 94%;
    margin: 0% 3%;
}

.characterCont div {
    font-weight: bold;
    width: 100%;
    height: 350px;
    margin-bottom: 4%;
}

/* Luffy */
#luffy {
    background-image: url(./refHome/Luffy\,\ Amanomoon\,Deviant\ Art.png);
    background-position-y: 65%;
    color: #d00;
    text-shadow: #000 2px 0 1px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-shadow: 0 0 20px 10px #d00;
}
/* Luffy */

/* Zoro */
#zoro {
    background-image: url(./refHome/Zoro\,\ Amanomoon\,\ Deviant\ Art.jpg);
    background-position-y: 60%;
    color: #00de7a;
    text-shadow: #000 2px 0 1px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-shadow: 0 0 20px 10px #00de7a;
}
/* Zoro */

/* Nami */
#nami {
    background-image: url(./refHome/Nami\,\ Amanomoon\,\ Deviant\ Art.png);
    background-position-y: 30%;
    color: #ff7000;
    text-shadow: #000 2px 0 1px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-shadow: 0 0 20px 10px #ff7000;
}
/* Nami */

/* Usopp */
#usopp {
    background-image: url(./refHome/Usopp\,\ Amanomoon\,\ Deviant\ Art.png);
    background-position-y: 55%;
    color: #fff200;
    text-shadow: #000 2px 0 1px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-shadow: 0 0 20px 10px #fff200;
}
/* Usopp */

/* Sanji */
#sanji {
    background-image: url(./refHome/Sanji\,\ Amanomoon\,\ Deviant\ Art.png);
    background-position-y: 65%;
    background-position-x: 20%;
    color: #0059ff;
    text-shadow: #000 2px 0 1px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-shadow: 0 0 20px 10px #0059ff;
}
/* Sanji */

/* Chopper */
#chopper {
    background-image: url(./refHome/Chopper\,\ Amanomoon\,\ Deviant\ Art.png);
    background-position-y: 40%;
    color: #ff70d9;
    text-shadow: #000 2px 0 1px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-shadow: 0 0 20px 10px #ff70d9;

}
/* Chopper */

/* Robin */
#robin {
    background-image: url(./refHome/Robin\,\ Amanomoon\,\ Deviant\ Art.png);
    background-position-y: 40%;
    background-position-x: 40%;
    color: #6700b6;
    text-shadow: #000 2px 0 1px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-shadow: 0 0 20px 10px #6700b6;
}
/* Robin */

/* Franky */
#franky {
    background-image: url(./refHome/Franky\,\ Amanomoon\,\ Deviant\ Art.png);
    background-position-y: 65%;
    color: #0091ff;
    text-shadow: #000 2px 0 1px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-shadow: 0 0 20px 10px #0091ff;
}
/* Franky */

/* Brook */
#brook {
    background-image: url(./refHome/Brook\,\ Amanomoon\,\ Deviant\ Art.jpg);
    background-position-y: 40%;
    color: #fff;
    text-shadow: #000 2px 0 1px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-shadow: 0 0 20px 10px #fff;
}
/* Brook */

/* Jinbe */
#jinbe {
    background-image: url(./refHome/Jinbe\,\ Amanomoon\,\ Deviant\ Art.png);
    background-position-y: 45%;
    background-position-x: 60%;
    color: #0d60cd;
    text-shadow: #000 2px 0 1px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-shadow: 0 0 20px 10px #0d60cd;
    margin-bottom: 0%;
}
/* Jinbe */
/* Character Container */
/* Content Container */

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.2rem;
    background-color: #ffe6b9;
}

footer li {
    list-style: none;
    line-height: 2rem;
}

footer h3 {
    font-family: sans-serif;
}
/* Footer */

/* Media */
/* Container Utility */
.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #00336299;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
/* Container Utility */

/* XS */
@media(min-width: 475px) {
    .container{
        max-width: 475px;
    } 
}
/* XS */

/* S */
@media(min-width: 640px) {
    .container{
        max-width: 640px;
    }
}
/* S */

/* M */
@media(min-width:768px) {
    .container{
        max-width: 768px;
    }
}
/* M */

/* L */
@media(min-width: 1024px) {
    .container{
        max-width: 1024px;
    }
}
/* L */

/* XL */
@media(min-width: 1280px) {
    .container{
        max-width: 1280px;
    }
}
/* XL */

/* 2XL */
@media(min-width: 1536px) {
    .container{
        max-width: 1536px;
    }
}
/* 2XL */
/* Media */