@font-face {
    font-family: One Piece;
    src: url(/references/one\ piece\ font.ttf);
}

/* body */
body {
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1.2rem;
    margin: -1px;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    background-image: url(./refHome/QuentinGod93\,\ bodyBackground\,\ reddit.com.png);
    background-position: top;
}
/* body */

/* header */
header {
    width: 100%;
    height: auto;
}

header img {
    width: 60%;
    height: auto;
    margin: 2% 0% 0% 0%;
}
/* header */