:root{
    --font-title: "Righteous", sans-serif;
    --font-body: 'Sora', sans-serif;

    --color-dark: #334155;
    --color-light: #f1f5f9;
    --color-accent: #fd7120ea;
    --color-alternate: #171F26;

    --color-slate700: #374151;
    --color-stone500: #78716c;
    --colot-stone800: #292524;

    --fs-small: .75rem;
    --fs-regular: 1rem;
    --fs-medium: 1.75rem;
    --fs-mediumPlus: 2.25rem;
    --fs-large: 3rem;
    --fs-xlarge: 5rem;
    --fs-xxlarge:7rem;
    --fs-xxxlarge:10rem;
    --fs-xxxxl:15rem:
}
/* ------------------end */

/* Reset for Webpage */
*,
*::before,
*::after {
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    font: inherit;
    line-height: calc(1em + 0.5em);
}
html{
    scroll-behavior: smooth;
}

body{
    min-height: 100svh;
    font-family: var(--font-body);
    background-color: var(--color-alternate);
    color: var(--color-light);
}

img,
picture,
svg,
video{
    display: block;
    max-width: 100%;
    user-select: none;
}

input,
textarea,
button,
select{
    font: inherit;
}

/* html{
    color-scheme: dark light;
    background-color: var(--color-stone500);
} */
/* ------------------end */

/* Container Utility Class */
.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* Section Utility Class */
.sections{
    margin: 10px auto;
}

.button{
    border: none;
    background-color: transparent;
    font-weight: 200;
}

/* Header Section */

.landingPage__navBar{
    /* border: 1px solid red; */
}

.landingPage__navBar ul{
    display: flex;
    gap: .85rem;
    justify-content: end;
    align-items: center;
}

.landingPage__navBar li{
    list-style: none;
}

.landingPage__navBar a{
    text-decoration: none;
    color: inherit;
}
/* Main Section */
main{
    min-height: 100vh;
    display: grid;
    place-content: center;
    
    /* border: 1px solid firebrick; */
}

/* Title */
.Title__wrapper{
    display: grid;
    place-content: center;
    text-align: center;
}
.Main__title{
    font-family: var(--font-title);
    font-size: 10rem;
    font-weight: 400;
}

#target {
    color: red;
    font-size: 10rem;
    font-family: var(--font-title);
}

/* This is to style the images for the landing page. */
.the__crew{
    display: flex;
    gap: 1.5rem;

}

.strawhats img{
    /* border: 1px solid red; */
    border-radius: 500px;
    height: 100px;
    width: 100px;
    object-fit: cover;
    outline: 1px solid white;
}

.nameAndImage h2 {
    text-align: center;
    font-weight: 100;
    font-size: var(--fs-small);
    margin-bottom: .25rem;
}

.nameAndImage img{
    margin: auto;
}

.strawhats h3{
    text-align: center;
    font-weight: 200;
    letter-spacing: .25rem;
    margin-top: .25rem;
}

/* => I am building mobile first so I am using min-width for media query breakpoints. The container classes within each media query breakpoint makes sure that it does not out grow the breakpoint size. */
/* xs screens */

@media(min-width: 475px) {
    .container{
        max-width: 475px;
    } 
}

/* small screens */
@media(min-width: 640px) {
    .container{
        max-width: 640px;
    }
}

/* medium screens */
@media(min-width:768px) {
    .container{
        max-width: 768px;
    }
}

/* large screens */
@media(min-width: 1024px) {
    .container{
        max-width: 1024px;
    }
}

/* extra large screens */
@media(min-width: 1280px) {
    .container{
        max-width: 1280px;
    }
}

/* 2XL screens */
@media(min-width: 1536px) {
    .container{
        max-width: 1536px;
    }
}

/* /////////// Media Query Responsive Webpages //////////// */

